/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self


 */

@import "bootstrap-sprockets";
@import "bootstrap";

 .navbar-app  {box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding: 0px 70px;
  align-items: center;
  justify-content: space-between;

  }

  .navbar-logo {
      background-size: 01px;
}
  .navbar-brand { }
  .navbar-app {margin-top:0;
  background-size: 10px;
  font-size: 22px;
  color: yellow;}

 .navbar-app-brand {position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;}

 .list-ul{margin-top:0;
  background-size: 10px;
  font-size: 22px;
  color: yellow;}


